/* =============================================
   ベース
   - フォント/ベースカラー/共通リセット
   ============================================= */
body {
  font-family: Roboto, 'Yu Gothic Medium', '游ゴシック Medium', YuGothic,
    '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
  line-height: 1.75;
  font-size: 16px;
  color: #222222;
}

/*　パディングをサイズ内側にする処理　*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/

/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
---------------------*/

/* =============================================
   ヒーロー（メインビジュアル）
   - 高さ: 560px
   - 見出し: 4vw / サブ: 3vw / 間隔: 40px
   ============================================= */

.top-container {
  position: relative;
  background-image: url('../img/mainbg.png');
  background-size: cover;
  width: 100%;
  height: 560px;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.top-container .shape {
  position: absolute;
  background: black;
  opacity: 0.3;
  width: 75%;
  height: 75%;
}

.top-container h1 {
  margin: 0;
  padding: 0;
  font-size: 4vw;
  z-index: 1;
}

.top-container p {
  margin: 0;
  padding: 0;
  font-size: 3vw;
  padding-top: 40px;
  z-index: 1;
}

/* =============================================
   グローバルナビ
   - 高さ: 80px / 文字: 21px / パディング左右: 64px
   - sticky で上部固定
   ============================================= */
.nav-container {
  position: -webkit-sticky; /* Safari用 */
  position: sticky; /* 要素をスクロールに応じて固定 */
  top: 0; /* 縦スクロールに追従 */
  background: white;
  height: 80px;
  font-size: 21px;
  border: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
  z-index: 10;
}

/* 入力要素のトグルは未使用のため削除 */

.nav-image img {
  height: 48px;
}

.nav-container nav ul {
  display: flex;
  list-style: none; /* sanitize 併用だが明示 */
}

.nav-container nav a {
  display: block;
  padding: 22px;
  cursor: pointer;
  color: #222222;
}
.nav-container nav a:hover {
  background: silver;
}

/* =============================================
   メイン領域
   - 最大幅: 960px / セクションは中央寄せ
   ============================================= */
main {
  background: white;
}

main > div {
  text-align: center;
  margin: 0 auto;
  width: 960px;
}

/* 固定ヘッダー分のオフセット指定は本ファイルでは未使用 */

h2 {
  font-size: 24px;
  color: #222222;
}

#about {
  padding-top: 80px;
}

#about h2 {
  color: #ffd61a;
  padding-top: 64px;
}

#about h3 {
  font-weight: normal;
  font-size: 20px;
  padding-top: 24px;
}

#about h4 {
  font-weight: normal;
  font-size: 16px;
  padding-top: 64px;
}

#about h4 + p {
  padding-top: 40px;
}

#about h5 {
  font-weight: normal;
  font-size: 16px;
  padding: 40px 0;
}

#about .slideshow {
  width: 770px;
  height: 510px;
  overflow: hidden;
  display: flex;
  margin: 80px auto 0;
}

#about .slideshow div img {
  width: 770px;
  height: 510px;
}

@keyframes moveslide {
  15% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  65% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  90% {
    margin-left: -300%;
  }
  100% {
    margin-left: 0%;
  }
}

#about .slideshow > :first-child {
  animation-name: moveslide; /* 作成したキーフレームを使う */
  animation-duration: 15s; /* アニメーション全体を5秒にする */
  animation-delay: 0s; /* 直ちにアニメーション開始する */
  animation-iteration-count: infinite; /* 永遠にアニメーションする */
}

#course {
  padding-top: 144px;
}

#course .contents {
  margin-top: 64px;
  background: #f8f8f8;
}

#course .contents .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

#course .contents .content:nth-child(even) {
  flex-direction: row-reverse;
}

#course .contents .content img {
  width: 50%;
}

#course .contents .content .desc {
  padding: 0 48px;
}

#course .contents .content .desc h2 + p {
  padding-top: 40px;
}

#news {
  padding-top: 144px;
  position: relative;
}

#news h2 {
  color: #ffd61a;
}

#news h2 + p {
  padding-bottom: 64px;
}

#news .articles {
  display: flex;
}

#news .articles article + article,
#news .hidden-articles article + article {
  padding-left: 32px;
}

#news .date {
  padding: 32px 0 24px;
}

#news .article_text {
  text-align: left;
}

#news label {
  display: inline-block;
  background: #ffd61a;
  color: white;
  font-size: 21px;
  line-height: 60px;
  width: 300px;
  height: 60px;
  margin: 56px 0 48px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

#news label:hover {
  opacity: 0.8;
}

#news label:hover ~ .close {
  background: #fedf5b;
}

#news .close {
  display: none;
  background: #ffd61a;
  color: white;
  font-size: 21px;
  line-height: 60px;
  width: 300px;
  height: 60px;
  margin: 56px auto 48px;
  cursor: pointer;
  z-index: 1;
  pointer-events: none;
  position: absolute;
  top: -60px;
  left: 0;
}

#news input {
  display: none;
}

#news .hidden-articles {
  display: none;
  padding-bottom: 152px;
}

#news input:checked ~ .hidden-articles {
  display: flex;
  margin-top: -56px;
}

#news input:checked ~ label {
  transform: translateY(496px);
}

#news input:checked ~ label > .close {
  display: inline-block;
}

#access::before {
  content: '';
  margin-top: -80px;
  height: 80px;
  display: block;
  visibility: hidden;
}

#access .gray_zone {
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#access .gray_zone h2 {
  padding: 64px 0 24px;
  font-size: 24px;
  color: #222222;
}

#access .gmap {
  width: 80%;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 正確な比率 */
  position: relative;
  margin: 64px 0 36px;
}

#access .gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#access table {
  text-align: left;
  padding-bottom: 56px;
  border-collapse: separate;
  border-spacing: 24px;
}

#access table td + td {
  padding-left: 48px;
}

#access table tr {
  padding-top: 24px;
}

#contact::before {
  content: '';
  margin-top: -64px;
  height: 64px;
  display: block;
  visibility: hidden;
}

#contact .contacts {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact .suggest {
  padding-top: 64px;
}

#contact .caution {
  padding: 32px 0 56px;
}

#contact table {
  margin: 0 auto;
  text-align: left;
  border-collapse: separate;
  border-spacing: 24px;
}

#contact table .info {
  white-space: nowrap;
  width: 112px;
}

#contact .info span {
  color: red;
  margin-left: 16px;
}

#contact .form {
  border: 1px solid #bfbfbf;
  width: 328px;
  height: 36px;
  padding-left: 8px;
}

#contact table td + td {
  padding-left: 120px;
}

#contact .motivation {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 0;
}

#contact .check {
  display: none;
}

#contact label {
  position: relative;
  vertical-align: center;
}

#contact .check + label::before {
  position: absolute;
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: #f0ebe5;
  opacity: 0.7;
  left: 0;
  top: 3px;
  border-radius: 4px;
}

#contact .check + label::after {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 16px;
  transform: rotate(45deg);
  border-right: 3px solid #ffd61a;
  border-bottom: 3px solid #ffd61a;
  left: 7px;
  top: 5px;
  opacity: 0;
  transition: 0.3s;
}

#contact .check:checked + label::after {
  opacity: 1;
}

#contact .motivation label span {
  margin-left: 48px;
  font-size: 14px;
}

#contact textarea {
  border: 1px solid #bfbfbf;
  width: 328px;
  height: 108px;
}

#contact .detail {
  vertical-align: top;
}

#contact button {
  width: 298px;
  height: 54px;
  background: #ffd61a;
  font-size: 18px;
  color: white;
  margin-top: 16px;
  cursor: pointer;
  margin-bottom: 128px;
}

/* =============================================
   フッター / ページトップ
   - ページトップ: 60x60 固定右下
   ============================================= */
footer {
  background: #707070;
  color: white;
  font-size: 18px;
  text-align: center;
}

footer p {
  padding: 32px 0;
}

.pagetop {
  background: black;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  text-align: center;
  z-index: 20;
}

.pagetop:hover {
  opacity: 0.8;
}

.pagetop a {
  padding: 16px 0;
  display: block;
  color: white;
}
